<header>
    <nav>
        <ul>
            <li>
                <a href="/">Shop</a>
                <a href="/products">Products</a>
                <a href="/cart">Cart</a>
                <a href="/orders">Orders</a>
                <a href="/admin/add-product">Add Product</a>
                <a href="/admin/products">Admin Product</a>
            </li>
        </ul>
    </nav>
</header>