<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <h2>Add novo produto</h2>

    <main>
        <form action="/admin" method="POST">
            <input type="text" name="title" id="">
            <button type="submit">Add Product</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>