<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<% if (prods.length > 0 ) { %>
<div>
    <% for(let product of prods) { %>
        <article>
            <header>
                <h1><%= product.title %></h1>
            </header>
            <div>
                <img
                        src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="image">
            </div>
            <div>
                <h2>$19.00</h2>
                <p>A very interesting thing</p>
            </div>
            <div>
                <button type="submit">Add to Cart</button>
            </div>
        </article>
    <% } %>
    <% } else { %>
        <h1>No products to show</h1>
    <% } %>

<%- include('../includes/end.ejs') %>